.feedback-form {
    width: 700px;
    /* max-width: 600px; */
    margin: auto;
    padding: 20px;
    margin-left: 290px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #1d2634;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .feedback-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .feedback-form input,
  .feedback-form select,
  .feedback-form textarea {
    width: 700px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .rating-stars {
    display: flex;
    gap: 5px;
  }
  
  .star {
    cursor: pointer;
    font-size: 24px;
  }
  
  .star.filled {
    color: gold;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .checkbox input {
    width: auto;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  